{#
  Powered by Eleventy partial
#}
{% if theme and theme.footer and theme.footer.showPoweredBy %}
  <p class="powered-by">
    Built with <a href="https://www.11ty.dev/">{{ eleventy.generator | escapeHtml }}</a>
  </p>
{% endif %}
