{#
  Comments wrapper - supports multiple providers
  Currently supports: disqus
  Future: could add utterances, giscus, etc.

  Config: site.comments
  - provider: 'disqus' | 'giscus' | 'none'
  - disqus.shortname: string

  Per-page disable: set `comments: false` in frontmatter
#}
{% if site and site.comments and site.comments.provider and site.comments.provider != 'none' %}
  {% if site.comments.provider == 'disqus' %}
    {% include "partials/comments/disqus.njk" %}
  {% endif %}
{% endif %}
